html {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#phone {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 400px;
    cursor: pointer;
}

.button {
    width: 80px;
    height: 55px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
    float: left;
    font-family: Courier;
    font-size: 30px;
    text-align: center;
    padding-top:25px;
    box-shadow: 2px 1px 1px #222222;
    cursor: pointer;
}

#title {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size:40px;
    font-family: Courier;
    color:white;
    background-color: blue;
    border-radius: 10px;
    padding: 4px;
}

#results {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size:20px;
    font-family: Courier;
    color:white;
    width: 250px;
    height: 300px;
    text-align:left;
    background: rgba(0,0,0, 0.5);
    border-radius:20px;
    padding:10px;
}

.letters {
    font-size: 12px;
}